<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body>
        <h1 class="text-center display-1">404</h1>

        <figure class="text-end text-center">
            <blockquote class="blockquote">
                <p>Page <%= url %> not found.</p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <cite title="Source Title">The server</cite>
            </figcaption>
        </figure>
    </body>
</html>