<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
    </head>

    <body>
        <%- include('./partials/header') %>

        <!-- Page Content -->

        <!-- container -->
        <div class="container">
            <div class="row">
                <!-- Avatar -->
                <div class="col-md-6">
                    <img src="/img/avatar.png" class="img-fluid" alt="Responsive image">
                </div>

                <!-- About -->
                <div class="col-md-6">
                    <h1>About Me</h1>
                    <p>I am a experienced developer with a passion for creating applications. I have been programming since I was 12 years old. I primarily worked on ROBLOX Games. I now am looking to expand my passion towards software development.</p>
                </div>
            </div>

            <!-- Experience -->
            <div class="row">
                <div class="col-md-6">
                    <h1>Experience</h1>
                    <p>I have been programming for 7 years. I have worked on many ROBLOX games and have created multiple applications and Discord bots. I also was part of a FIRST Robotics Competition team for 2 years.</p>
                </div>
            </div>
        </div>



        <%- include('./partials/footer') %>
        <%- include('./partials/bootstrap') %>
    </body>
</html>